<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
      <span class="text-muted">
        <%= link_to '利用規約', '#' %> |
        <%= link_to 'プライバシーポリシー', '#' %> |
        <%= link_to 'お問い合わせ','#' %>
      </span>
    </div>
  </footer>